<h1 class="game-name">Rock, Paper, Scissors</h1>
<p class="game-rules">
  The objective is to defeat the opponent by selecting the winning weapon,
  according to the following rules:
</p>
<ul class="game-rules">
  <li>Rock crushes scissors.</li>
  <li>Scissors cuts paper.</li>
  <li>Paper wraps rock.</li>
  <li>
    In case of a tie (where both players choose the same element), another round
    is played.
  </li>
  <li>The first player to win 3 matches, wins.</li>
</ul>
<div class="btn-container">
  <button routerLink="players" mat-raised-button class="start-game-btn">
    Click here to start
  </button>
</div>
